body {
    font-family: sans-serif;
    background-color: grey;
    width:100%;
    text-align:left;
    margin: 0 auto;
}
h1 {
    color: pink;
    margin:0px;
}
h2 {
    font-size: 1.5em;
    font-family: serif;
}
.system, .font-face {
    color: pink;
    font-size: 1.3em;
}

.cbdt {
    color: blue;
}
.colr {
    color: green;
}
.sbix {
    color: white;
}
.svg {
    color: red;
}